
{% extends 'base.front.html.twig' %}

{% block title %}error{% endblock %}
           {% block header %}{% endblock %}
{% block body %}
		<section class="our-error bg-img6">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 offset-sm-4 col-lg-6 offset-lg-5 text-center">
					<div class="logo-widget error_paged">
				        <a href="#" class="navbar_brand float-left">
				            <img class="logo1 img-fluid" src="images/header-logo.png" alt="header-logo.png">
				            <span>Beyond-Travel</span>
				        </a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-10 offset-lg-1 text-center">
					<div class="error_page footer_apps_widget">
						<div class="erro_code"><h1>404</h1></div>
						<h4>We Are Sorry, Page Not Found</h4>
						<p>Unfortunately the page you were looking for could not be found. It may be temporarily unavailable, moved or no longer exist. Check the Url you entered for any mistakes and try again.</p>
					</div>
					<a class="color-white mt25" href="/index">Back to Homepage <span class="flaticon-right-arrow-1 pl10"></span></a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
 {% block footer %}{% endblock %}
