
{% extends 'base.front.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
	<section class="inner_page_breadcrumb">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 offset-xl-3 text-center">
					<div class="breadcrumb_content">
						<h4 class="breadcrumb_title">Logın</h4>
						<ol class="breadcrumb">
						    <li class="breadcrumb-item"><a href="#">Home</a></li>
						    <li class="breadcrumb-item active" aria-current="page">Logın</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Our LogIn Register -->
	<section class="our-log bgc-fa">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-lg-6 offset-lg-3">
					<div class="login_form inner_page">
				<form method="POST">
							<div class="heading">
						{% if error %}
							 <h3 class="text-center">{{ error.messageKey|trans(error.messageData,'security') }}</h3>
						{% else %}
								<h3 class="text-center">Login to your account</h3>
						{% endif %}		
								<p class="text-center">Don't have an account? <a class="text-thm" href="/register">Sign Up!</a></p>
								<p class="text-center">verification need</p>
							</div>

							 <div class="form-group">
						    	<input value="{{ last_username }}", name="email", type="email", class="form-control" ,id="exampleInputEmail3" placeholder="Email Address">
						
							</div>
							<div class="form-group">
					           <input type="password", name="password", class="form-control" id="exampleInputPassword2" placeholder="Password">
							 
						<input type="hidden" name="_csrf_token" value="{{csrf_token('authenticate')}}">
							</div>
							<div class="form-group custom-control custom-checkbox">
								<input type="checkbox" name="_remember_me" class="custom-control-input" id="exampleCheck3">
								<label class="custom-control-label" for="exampleCheck3">Remember me</label>
								<a class="tdu btn-fpswd float-right" href="{{ path('app_forgot_password_request') }}">Forgot Password?</a>
							</div>
							<div class="form-group">
							<div class="g-recaptcha" data-sitekey="6LfC8KwfAAAAAJhyzV4wJLjQU-ptt9hRqnzh2LPu"></div>
							</div>
							 	<button type="submit" class="btn btn-log btn-block btn-thm2">Login</button>
							<div class="divide">
								<span class="lf_divider">Or</span>
								<hr>
							</div>
							<div class="row mt40">
								<div class="col-lg">
									<button type="submit" class="btn btn-block color-white bgc-fb mb0"><i class="fa fa-facebook float-left mt5"></i> Facebook</button>
								</div>
								<div class="col-lg">
									<button type="submit" class="btn btn2 btn-block color-white bgc-gogle mb0"><i class="fa fa-google float-left mt5"></i> Google</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

