{% extends 'base.front.html.twig' %}


 {% block body %}  

		<div class="container-fluid p0">
			<div class="row">
				<div class="col-lg-12">
					<div class="main-banner-wrapper">
					    <div class="banner-style-one owl-theme owl-carousel">
					        <div class="slide slide-one" style="background-image: url(images/home/1.jpg); height: 95vh;">
					            <div class="container">
					                <div class="row home-content">
					                    <div class="col-lg-12 text-center p0">
					                        <h3 class="banner-title">Self EducatIon Resources and Infos</h3>
					                        <p>Technology is brining a massive wave of evolution on learning things on different ways.</p>
					                    </div>
					                </div>
					            </div>
					        </div>
					        <div class="slide slide-one" style="background-image: url(images/home/2.jpg);height: 95vh;">
					            <div class="container">
					                <div class="row home-content">
					                    <div class="col-lg-12 text-center p0">
					                        <h3 class="banner-title">Self EducatIon Resources and Infos</h3>
					                        <p>Technology is brining a massive wave of evolution on learning things on different ways</p>

					                    </div>
					                </div>
					            </div>
					        </div>
					        <div class="slide slide-one" style="background-image: url(images/home/3.jpg);height: 95vh;">
					            <div class="container">
					                <div class="row home-content">
					                    <div class="col-lg-12 text-center p0">
					                        <h3 class="banner-title">Find the Best Courses</h3>
					                        <p>Technology is brining a massive wave of evolution on learning things on different ways</p>
					               
					                    </div>
					                </div>
					            </div>
					        </div>
					    </div>
					    <div class="carousel-btn-block banner-carousel-btn">
					        <span class="carousel-btn left-btn"><i class="flaticon-left-arrow left"></i></span>
					        <span class="carousel-btn right-btn"><i class="flaticon-right-arrow-1 right"></i></span>
					    </div><!-- /.carousel-btn-block banner-carousel-btn -->
					</div><!-- /.main-banner-wrapper -->
				</div>
			</div>
		</div>

	

	<!-- School Category Courses -->
	<section id="our-courses" class="our-courses pt90 pt650-992">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<a href="#our-courses">
				    	<div class="mouse_scroll">
			        		<div class="icon"><span class="flaticon-download-arrow"></span></div>
				    	</div>
				    </a>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3">
					<div class="main-title text-center">
						<h3 class="mt0">Via School Categories Courses</h3>
						<p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-lg-3">
					<div class="img_hvr_box" style="background-image: url(images/courses/1.jpg);">
						<div class="overlay">
							<div class="details">
								<h5>Design</h5>
								<p>Over 800 Courses</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="img_hvr_box" style="background-image: url(images/courses/2.jpg);">
						<div class="overlay">
							<div class="details">
								<h5>Business</h5>
								<p>Over 1,400 Courses</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="img_hvr_box" style="background-image: url(images/courses/3.jpg);">
						<div class="overlay">
							<div class="details">
								<h5>Software Development</h5>
								<p>Over 350 Courses</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="img_hvr_box" style="background-image: url(images/courses/4.jpg);">
						<div class="overlay">
							<div class="details">
								<h5>Web Development</h5>
								<p>Over 640 Courses</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="img_hvr_box" style="background-image: url(images/courses/5.jpg);">
						<div class="overlay">
							<div class="details">
								<h5>Photography</h5>
								<p>Over 740 Courses</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="img_hvr_box" style="background-image: url(images/courses/6.jpg);">
						<div class="overlay">
							<div class="details">
								<h5>Audio + Music</h5>
								<p>Over 120 Courses</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="img_hvr_box" style="background-image: url(images/courses/7.jpg);">
						<div class="overlay">
							<div class="details">
								<h5>Marketing</h5>
								<p>Over 200 Courses</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="img_hvr_box" style="background-image: url(images/courses/8.jpg);">
						<div class="overlay">
							<div class="details">
								<h5>3D + Animation</h5>
								<p>Over 900 Courses</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 offset-lg-3">
					<div class="courses_all_btn text-center">
						<a class="btn btn-transparent" href="#">View All Courses</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Divider -->
	<section class="divider_home1 bg-img2 parallax" data-stellar-background-ratio="0.3">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="divider-one">
						<p class="color-white">STARTING ONLINE LEARNING</p>
						<h1 class="color-white text-uppercase">Enhance your skIlls wIth best OnlIne courses</h1>
						<a class="btn btn-transparent divider-btn" href="#">Get Started Now</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Top Courses -->
	<section id="top-courses" class="top-courses pb30">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3">
					<div class="main-title text-center">
						<h3 class="mt0">Browse Our Top Courses</h3>
						<p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
					</div>
				</div>
			</div>
			<div class="row">
			 	<div class="col-lg-12">
			 		<div id="options" class="alpha-pag full">
						<div class="option-isotop">
							<ul id="filter" class="option-set" data-option-key="filter">
								<li class="list-inline-item"><a href="#all" data-option-value="*" class="selected">Developer</a></li>
								<li class="list-inline-item"><a href="#business" data-option-value=".business">Business</a></li>
								<li class="list-inline-item"><a href="#design" data-option-value=".design">Design</a></li>
								<li class="list-inline-item"><a href="#web" data-option-value=".web">Web</a></li>
								<li class="list-inline-item"><a href="#marketing" data-option-value=".marketing">Marketing</a></li>
							</ul>
						</div>
					</div><!-- FILTER BUTTONS -->
			 		<div class="emply-text-sec">
			 			<div class="row" id="masonry_abc">
			 				

			 				<div class="col-md-6 col-lg-4 col-xl-3 design Web">
								<div class="top_courses">
									<div class="thumb">
										<img class="img-whp" src="images/courses/t7.jpg" alt="t7.jpg">
										<div class="overlay">
											<div class="tag">Top Seller</div>
											<div class="icon"><span class="flaticon-like"></span></div>
											<a class="tc_preview_course" href="#">Preview Course</a>
										</div>
									</div>
									<div class="details">
										<div class="tc_content">
											<p>Ali TUFAN</p>
											<h5>How to Make Beautiful Landscape Photos?</h5>
											<ul class="tc_review">
												<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
												<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
												<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
												<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
												<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
												<li class="list-inline-item"><a href="#">(6)</a></li>
											</ul>
										</div>
										<div class="tc_footer">
											<ul class="tc_meta float-left">
												<li class="list-inline-item"><a href="#"><i class="flaticon-profile"></i></a></li>
												<li class="list-inline-item"><a href="#">1548</a></li>
												<li class="list-inline-item"><a href="#"><i class="flaticon-comment"></i></a></li>
												<li class="list-inline-item"><a href="#">25</a></li>
											</ul>
											<div class="tc_price float-right">$69.95</div>
										</div>
									</div>
								</div>
			 				</div>



			 				<div class="col-md-6 col-lg-4 col-xl-3 business">
								<div class="top_courses">
									<div class="thumb">
										<img class="img-whp" src="images/courses/t8.jpg" alt="t8.jpg">
										<div class="overlay">
											<div class="tag">Best Seller</div>
											<div class="icon"><span class="flaticon-like"></span></div>
											<a class="tc_preview_course" href="#">Preview Course</a>
										</div>
									</div>
									<div class="details">
										<div class="tc_content">
											<p>Ali TUFAN</p>
											<h5>Fashion Photography From Professional</h5>
											<ul class="tc_review">
												<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
												<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
												<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
												<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
												<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
												<li class="list-inline-item"><a href="#">(6)</a></li>
											</ul>
										</div>
										<div class="tc_footer">
											<ul class="tc_meta float-left">
												<li class="list-inline-item"><a href="#"><i class="flaticon-profile"></i></a></li>
												<li class="list-inline-item"><a href="#">1548</a></li>
												<li class="list-inline-item"><a href="#"><i class="flaticon-comment"></i></a></li>
												<li class="list-inline-item"><a href="#">25</a></li>
											</ul>
											<div class="tc_price float-right">$69.95</div>
										</div>
									</div>
								</div>
			 				</div>



							 
			 			</div>
			 		</div>
				</div>
			</div>
		</div>
	</section>
 {% endblock %}