{% extends './base-front.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ 'C:/Users/PC/Desktop/vols/src/Controller/SearchController.php'|file_link(0) }}">src/Controller/SearchController.php</a></code></li>
            <li>Your template at <code><a href="{{ 'C:/Users/PC/Desktop/vols/templates/search/index.html.twig'|file_link(0) }}">templates/search/index.html.twig</a></code></li>
        </ul>
    </div>
{% endblock %}
