{% extends 'base-back.html.twig' %}

{% block title %}Edit Guide{% endblock %}

{% block body %}
<h1><font face="verdana" size="20px" color="#FF7A59"> Modifier les guides</font></h1>
<table  cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
<tr>
{{ include('guide/_form.html.twig', {'button_label': 'Update'}) }}

  <td>  <a href="{{ path('app_guide_index') }}"><button class="btn btn-round btn-success btn-xs"><i class="fa fa-arrow-circle-left "></i></button> </a>
    </td>

  <td> {{ include('guide/_delete_form.html.twig') }} </td>

</tr>
</table>
{% endblock %}
