{% extends 'base-back.html.twig' %}

{% block title %}New Guide{% endblock %}

{% block body %}
    <h1> <font face="verdana" size="10px" color="#FF7A59"> Ajouter les guides</font> </h1>

<table  cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
    <tr>
        <td> {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}

            {{ include('guide/_form.html.twig') }}

    <a href="{{ path('app_guide_index') }}"> <button class="btn btn-round btn-success btn-xs"><i class="fa fa-arrow-circle-left "></i></button> </a>


    </tr>
</table>
{% endblock %}
